<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>


    <!-- WHAT EXACTLY DO YOU WANT USERS TO BE ABLE TO SEE WHEN NOT LOGGED IN -->
    <nav>
      Icon.svg 
      <!-- Come back to this and crate nav bar when finalize page names and paths -->
      <a href="/">Home</a>
      <% if (user) { %>
      
      <h5><%= user.name %></h5> 
      <img
                src="<%= user.avatar %>"
                style="border-radius: 50%; height: 60px"
              />
      <!-- Put a tags here if you want links only logged in users can see -->
        <a href="/logout">LOG OUT</a>
      <% } else { %>
        <a href="/auth/google" class="login">LOG IN&nbsp;<img src="https://i.imgur.com/FHjYyi0.png"></a>
      <% } %>
    </nav>



    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>