<%- include('../partials/header') %>

<h2>Posts</h2>
 <table>
   <thead>
     <tr>
       <th>Title</th>
       <th>Description</th>
       <th></th>
       <th>Comments</th>
       <th>Made By</th>
     </tr>
   </thead>
   <tbody>
     <!-- Write the line of EJS to iterate over movies using forEach -->
     <% posts.forEach(function(p) { %>
       <tr>
         <td><%= p.title %></td>
         <td><%= p.description %></td>
         <td><a href="/posts/<%= p._id %>">OPEN</a></td>
        
         <td>
          <!-- This would be the length of this particualar post's 
          comment array how do I call that?  -->
          _#_ Comments
        </td>
         <td>
         <%= p.user.name %>
         <img
         src="<%= p.user.avatar %>"
         style="border-radius: 50%; height: 60px"
         />
  
        </td>
       </tr>
     <!-- Close the forEach using EJS here -->
     <% }); %>
   </tbody>
 </table>

<%- include('../partials/footer') %>


