<%- include('../partials/header') %>

  <container>
    <section id="show-post">


      <div class="chainPrinter">
        <h1>
          <%= post.category %>
        </h1>
      </div>
      <div class="chainprinter">
        <h2>
          <%= post.title %>
        </h2>
      </div>
      <div id="post-author">
        By: <%= post.user.name %>
            <img src="<%= post.user.avatar %>" style="border-radius: 50%; height: 25px" /></h3>
      </div>
      <div>
        <h4>
          <%= post.description %>
        </h4>
      </div>
      <div class="content">
        <p><%- post.content %></p>
      </div>

      <% if (user && user.equals(post.user)) { %>
        <br>

        <a href="/posts/<%= post._id %>/edit" id="edit">EDIT POST</a>

        <% } %>


    </section>
  </container>

  <container>
    <section id="comment-form">

      <% if (user) { %>
        <h2>Write A Comment</h2>
        <form id="comment-form" method="POST" action="/posts/<%= post._id %>/comments">
          <label>Your Comment:</label>
          <textarea name="content"></textarea>
          <input type="submit" value="Add Comment">
        </form>

    </section>
    <% } else { %>


      <h3>Log in to comment</h3>

      <% } %>

       
          <% if (post.comments.length) { %>


  </container>

  <container>

  <% post.comments.forEach(function(c) { %>

    <section class="comment-section">
    
      <div class="comment">
        <div class="comment-details">
          <span class="comment-author"><img alt="avatar" src="<%= c.userAvatar %>" referrerpolicy="no-referrer"
              style="border-radius: 50%; height: 40px">
            <%= c.userName %>
          </span>
          <span class="comment-date">
            <%= c.createdAt.toLocaleString() %>
          </span>
        </div>
        <p class="comment-content">
          <%= c.content %>
        </p>

        <% if (user?._id.equals(c.user)) { %>
          <form action="/comments/<%= c._id %>?_method=DELETE" method="POST">
            <button type="'submit">Delete Comment</button>
          </form>
          <% } %>
      </div>

      <% }); %>

    </section>

    <% } else { %>

      <h5>No comments yet. Be the first!</h5>

      <% }; %>
       

      </container>
        <%- include('../partials/footer') %>