<%- include('../partials/header') %>

<!-- Put title as H2 on top instead?  -->

<section id="show-page">

    <div>Title: </div>
    <div><%= post.title %></div>
    <div>By: </div>
    <div> Username here</div>
    <div>Description: </div>
    <div><%= post.description %></div>
    <div>Content: </div>
    <div><%= post.content %></div>
    
</section>

<%- include('../partials/footer') %>